@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@include foundation-everything(true);

body {
  background-color: #EEEEF3;
}

p {
  color: #666;
}

h2 {
  font-weight: 300;
}

a {
  color: #446;
  text-decoration: none;
  :hover{
    color: #002;
  }
  :visited {
    text-decoration: none;
  }
}

.header {
  margin: 0px;
  padding: 0px;
  background: url("../luca-bravo-198061-min.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: 0% 20%;
  height: 100vh;
  text-align: left;
  color: #88A;
  font-weight: 300;
  margin-bottom: 1em;

  h1 {
    margin: 0px;
    font-weight: 300;
  }

  p {
    margin: 0px;
    color: #88A;
  }
}

.header-content {
  position: absolute;
  left: 10em;
  top: 8em;
  p {
    position: relative;
    left: 20%;
    top: -1.3em;
    display: inline;
  }
}

.profile-pic {
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid #446;
}

.social-media {
  font-size: 2em;
  a {
    color: #446;
  }
  a:hover {
    color: #002;
  }
  a:visited {
    text-deocration: none;
  }
}

.text-center {
  text-align: center;
}

.contact-info {
  text-align: center;
  padding: 1em;
  background-color: #FFF;
  box-shadow: 0px 1px 6px rgba(0,0,0,.25);
  h2 {
    margin: 0px;
  }
}
